header {
    margin: auto;
    background-color: rgb(234, 171, 253);
    width: 600px;
}
div {
    margin: auto;
    background-color: rgb(210, 240, 245);
    width: 600px;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 25pt;
}
h3 {
color: blue;
font-size: 15pt;
}
